@model IEnumerable<giadinhthoxinh.Models.tblOrder>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sCustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sCustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sDeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dInvoidDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sBiller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iDeliveryMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fSurcharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblUser.sEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.sCustomerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sCustomerPhone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sDeliveryAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dInvoidDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sBiller)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.iDeliveryMethod)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fSurcharge)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.iPaid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sState)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tblUser.sEmail)
    </td>
    <td>
        @Html.ActionLink("duyệt", "DuyetDonHang", new { id = item.PK_iOrderID }, new { @class = "btn btn-primary " }) |
        @Html.ActionLink("hủy", "HuyDonHang", new { id = item.PK_iOrderID }, new { @class = "btn btn-primary btn-danger " }) |
        @Html.ActionLink("sửa", "Edit", new { id = item.PK_iOrderID }, new { @class = "btn btn-primary btn-warning" }) |
        @Html.ActionLink("chi tiết", "Details", new { id = item.PK_iOrderID }, new { @class = "btn btn-primary btn-info" }) |
        @Html.ActionLink("xóa", "Delete", new { id = item.PK_iOrderID }, new { @class = "btn btn-primary btn-danger" })
    </td>
</tr>
}
    </tbody>
</table>
