@model giadinhthoxinh.Models.tblCheckoutDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
}

<section class="content-header p-2">
</section>

<section class="content ml-2 mr-2">
    <div class="card">
        <div class="card-header">
            <h3 class="text-danger text-lg ">Bạn có chắc chắn muốn xóa mã chi tiết hóa đơn: <span class="text-primary text-lg">@Model.PK_iCheckoutDetailID</span></h3>
        </div>

        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.iQuantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.iQuantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tblOrder.sCustomerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tblOrder.sCustomerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tblProduct.sProductName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tblProduct.sProductName)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("quay lại", "Index", null, new { @class = "btn btn-primary btn-secondary" })  |
                    <input type="submit" value="xóa" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</section>