
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc
@model  PagedList.IPagedList<giadinhthoxinh.Models.tblProduct>

@*<div class="main_slider">

    </div>*@

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Sản phẩm mới</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">Tất cả</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center">Hoa len</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center">Thú bông</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center">Mũ len</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center">Khăn len</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center">Túi xách</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center">Váy len</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    @foreach (var item in Model)
                    {
                        <div class="product-item men">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <a href="/home/productdetail?id=@item.PK_iProductID"><img src="@Url.Content(item.sImage)" /></a>
                                </div>
                                @*<div class="favorite"></div>*@
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="single.html">@item.sDescribe</a></h6>
                                    <div class="product_price">@item.fPrice<span>$590.00</span></div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">thêm vào giỏ hàng</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*Phân trang*@

<div class="mt-4" style="text-align: center;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<!-- Best Sellers -->

<div class="best_sellers">
    <div class="container mb-3">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title" style="margin-top: 0">
                    <h2>Sản phẩm bán chạy</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider" style="overflow: hidden; height: 360px;">

                        <!-- Slide 1 -->
                        @*<div class="owl-item product_slider_item">
                                <div class="product-item">
                                    <div class="product discount">
                                        <div class="product_image">
                                            <img src="~/Content/assets/images/chau_len/chau_dep.png" />
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                                            <div class="product_price">$520.00<span>$590.00</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        <!-- Slide 2 -->

                        @foreach (var item in Model)
                        {
                            <div class="owl-item product_slider_item">
                                <div class="product-item women">
                                    <div class="product">
                                        <div class="product_image">
                                            @*<img src="~/Content/assets/images/thu_bong/meo_1_5.jpg" alt="">*@
                                            <a href="/home/productdetail?id=@item.PK_iProductID"><img src="@Url.Content(item.sImage)" /></a>
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="single.html">@item.sDescribe</a></h6>
                                            <div class="product_price">@item.fPrice</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Slide 3 -->
                        @*<div class="owl-item product_slider_item">
                                <div class="product-item women">
                                    <div class="product">
                                        <div class="product_image">
                                            <img src="~/Content/assets/images/mu_len/mua_dong/mu_1_2.jpg" alt="">
                                        </div>
                                        <div class="favorite"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="single.html">Blue Yeti USB Microphone Blackout Edition</a></h6>
                                            <div class="product_price">$120.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>

                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


















