@model giadinhthoxinh.Models.tblProduct
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/assets/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />

<link href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/themify-icons/themify-icons.css" rel="stylesheet" />

<link href="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/assets/styles/single_styles.css" rel="stylesheet" />
<link href="~/Content/assets/styles/single_responsive.css" rel="stylesheet" />


@if (Model != null)
{
    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Chi tiết sản phẩm</a></li>
                        @*<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li>*@
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                @if (Model.sImage != null && Model.sImage.Any())
                {
                    <div class="single_product_pics">
                        <div class="row">
                            <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                                <div class="single_product_thumbnails">
                                    <ul>
                                        @*(var item in Model.sImage)*@
                                        @for (int i = 0; i < 3; i++)
                                        {
                                            <li><img class="img-secondary" src="@Url.Content(Model.sImage)" alt="" data-image="Model.sImage"></li>
                                        }

                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-9 image_col order-lg-2 order-1">
                                <div class="single_product_image">
                                    <div class="single_product_image_background" style="border-radius: 2px; background-image: url( @Url.Content(Model.sImage) );"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            @{
                double oldPrice = (Model.fPrice ?? 0) + 50000;
                int quantity = 1;
            }

            <div class="col-lg-5">
                <div class="product_details">
                    @using (Html.BeginForm("ThemGioHang", "Cart", new { @iMasp = Model.PK_iProductID, @strURL = "/Home" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="product_id" value="@Model.PK_iProductID" />
                        <div class="product_details_title">
                            <h2>@Model.sProductName</h2>
                            <p>@Model.sDescribe</p>
                        </div>
                        <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                            <span class="ti-truck"></span><span>miễn phí vận chuyển</span>
                        </div>
                        <div class="original_price">@oldPrice</div>
                        <div class="product_price">@Model.fPrice</div>
                        <ul class="star_rating">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>
                        <div class="product_color">
                            <span>Màu sắc:</span>
                            <ul>
                                <li style="background: @Model.sColor"></li>
                                @*<li style="background: #252525"></li>
                    <li style="background: #60b3f3"></li>*@
                            </ul>
                        </div>
                        <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                            <span>Số lượng:</span>
                            <div class="quantity_selector mb-3">
                                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <input type="text" style="width:50px;" name="quantity_value" id="quantity_value" value="1" />
                                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                            @*<div class="red_button red_button1 mb-3" ><a href="#" style=" width: 140px; text-transform: none; font-size: 14px;">Thêm vào giỏ hàng</a></div>*@
                            <input class="red_button add_to_cart_button show-add-cart" type="submit" name="submit" value="Thêm vào giỏ" />
                            @*<div class="red_button add_to_cart_button show-add-cart"><a href="/home/productdetail?id=@Model.PK_iProductID&sl=@quantity " />Thêm vào giỏ</div>*@
                            @*<div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>*@
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

}


@section scripts{
    <script src="js/single_custom.js"></script>
}























































@* Để nhờ *@

@*<div class="main_slider" style="background-image: url(/Content/clients/dist/img/template3.png); width: 50%; margin: auto">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="col">
                    <div class="main_slider_content">
                        <h6>Spring / Summer Collection 2017</h6>
                            <h1>Get up to 30% Off New Arrivals</h1>
                            <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


@*<div class="main_slider">

    </div>*@



<!--<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Sản phẩm mới</h2>
                </div>
            </div>
        </div>-->
@*<div class="row align-items-center">
        <div class="col text-center">
            <div class="new_arrivals_sorting">
                <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                    <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                    <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">women's</li>
                    <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">accessories</li>
                    <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">men's</li>
                </ul>
            </div>
        </div>
    </div>*@
<!--<div class="row">
    <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>-->
<!-- Product 1 -->
<!--<div class="product-item men">
    <div class="product discount product_filter">
        <div class="product_image">
            <img src="~/Content/assets/images/chau_len/chau_dao1.jpg" />
        </div>
        <div class="favorite favorite_left"></div>
        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
        <div class="product_info">
            <h6 class="product_name"><a href="single.html" class="test_css">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
            <div class="product_price">$520.00<span>$590.00</span></div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 2 -->
<!--<div class="product-item women">
    <div class="product product_filter">
        <div class="product_image">
            <img src="~/Content/assets/images/chau_len/chau_dep.png" />
        </div>
        <div class="favorite"></div>
        <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
        <div class="product_info">
            <h6 class="product_name"><a href="single.html">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
            <div class="product_price">$610.00</div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 3 -->
<!--<div class="product-item women">
    <div class="product product_filter">
        <div class="product_image">
            <img src="~/Content/assets/images/chau_len/chau_dep_2.png" />
        </div>
        <div class="favorite"></div>
        <div class="product_info">
            <h6 class="product_name"><a href="single.html">Blue Yeti USB Microphone Blackout Edition</a></h6>
            <div class="product_price">$120.00</div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 4 -->
<!--<div class="product-item accessories">
    <div class="product product_filter">
        <div class="product_image">
            <img src="~/Content/assets/images/chau_len/chau_sen.jpg" />
        </div>
        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
        <div class="favorite favorite_left"></div>
        <div class="product_info">
            <h6 class="product_name"><a href="single.html">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
            <div class="product_price">$410.00</div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 5 -->
<!--<div class="product-item women men">
    <div class="product product_filter">
        <div class="product_image">
            <img src="~/Content/assets/images/khan_len/khăn_5_1.jpg" />
        </div>
        <div class="favorite"></div>
        <div class="product_info">
            <h6 class="product_name"><a href="single.html">Pryma Headphones, Rose Gold & Grey</a></h6>
            <div class="product_price">$180.00</div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 6 -->
<!--<div class="product-item accessories">
    <div class="product discount product_filter">
        <div class="product_image">
            <img src="images/product_6.png" alt="">
        </div>
        <div class="favorite favorite_left"></div>
        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
        <div class="product_info">
            <h6 class="product_name"><a href="#single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
            <div class="product_price">$520.00<span>$590.00</span></div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 7 -->
<!--<div class="product-item women">
    <div class="product product_filter">
        <div class="product_image">
            <img src="images/product_7.png" alt="">
        </div>
        <div class="favorite"></div>
        <div class="product_info">
            <h6 class="product_name"><a href="single.html">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
            <div class="product_price">$610.00</div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 8 -->
<!--<div class="product-item accessories">
    <div class="product product_filter">
        <div class="product_image">
            <img src="images/product_8.png" alt="">
        </div>
        <div class="favorite"></div>
        <div class="product_info">
            <h6 class="product_name"><a href="single.html">Blue Yeti USB Microphone Blackout Edition</a></h6>
            <div class="product_price">$120.00</div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 9 -->
<!--<div class="product-item men">
    <div class="product product_filter">
        <div class="product_image">
            <img src="images/product_9.png" alt="">
        </div>
        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
        <div class="favorite favorite_left"></div>
        <div class="product_info">
            <h6 class="product_name"><a href="single.html">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
            <div class="product_price">$410.00</div>
        </div>
    </div>
    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
</div>-->
<!-- Product 10 -->
<!--<div class="product-item men">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="images/product_10.png" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Pryma Headphones, Rose Gold & Grey</a></h6>
                                <div class="product_price">$180.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Best Sellers -->
<!--<div class="best_sellers">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Sản phẩm bán chạy</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">-->
<!-- Slide 1 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item">
        <div class="product discount">
            <div class="product_image">
                <img src="~/Content/assets/images/chau_len/chau_dep.png" />
            </div>
            <div class="favorite favorite_left"></div>
            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 2 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item women">
        <div class="product">
            <div class="product_image">
                <img src="images/product_2.png" alt="">
            </div>
            <div class="favorite"></div>
            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
                <div class="product_price">$610.00</div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 3 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item women">
        <div class="product">
            <div class="product_image">
                <img src="images/product_3.png" alt="">
            </div>
            <div class="favorite"></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">Blue Yeti USB Microphone Blackout Edition</a></h6>
                <div class="product_price">$120.00</div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 4 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item accessories">
        <div class="product">
            <div class="product_image">
                <img src="images/product_4.png" alt="">
            </div>
            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
            <div class="favorite favorite_left"></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
                <div class="product_price">$410.00</div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 5 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item women men">
        <div class="product">
            <div class="product_image">
                <img src="images/product_5.png" alt="">
            </div>
            <div class="favorite"></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">Pryma Headphones, Rose Gold & Grey</a></h6>
                <div class="product_price">$180.00</div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 6 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item accessories">
        <div class="product discount">
            <div class="product_image">
                <img src="images/product_6.png" alt="">
            </div>
            <div class="favorite favorite_left"></div>
            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
                <div class="product_price">$520.00<span>$590.00</span></div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 7 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item women">
        <div class="product">
            <div class="product_image">
                <img src="images/product_7.png" alt="">
            </div>
            <div class="favorite"></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
                <div class="product_price">$610.00</div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 8 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item accessories">
        <div class="product">
            <div class="product_image">
                <img src="images/product_8.png" alt="">
            </div>
            <div class="favorite"></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">Blue Yeti USB Microphone Blackout Edition</a></h6>
                <div class="product_price">$120.00</div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 9 -->
<!--<div class="owl-item product_slider_item">
    <div class="product-item men">
        <div class="product">
            <div class="product_image">
                <img src="images/product_9.png" alt="">
            </div>
            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
            <div class="favorite favorite_left"></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h6>
                <div class="product_price">$410.00</div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slide 10 -->
<!--<div class="owl-item product_slider_item">
        <div class="product-item men">
            <div class="product">
                <div class="product_image">
                    <img src="images/product_10.png" alt="">
                </div>
                <div class="favorite"></div>
                <div class="product_info">
                    <h6 class="product_name"><a href="single.html">Pryma Headphones, Rose Gold & Grey</a></h6>
                    <div class="product_price">$180.00</div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Slider Navigation -->
<!--<div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
