@model  List<giadinhthoxinh.Models.ProductInCart>
@using giadinhthoxinh.Models;
@{ ViewBag.Title = "Cart";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/assets/styles/Index1.css" rel="stylesheet" />
<div class="new_arrivals">
    <div class="page_selection">

        <section class=" gradient-custom" style="background-color: #8fc4b7;">
            <div class="container py-5">
                <div class="row d-flex justify-content-center my-4">
                    <div class="col-md-7">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Giỏ hàng @ViewBag.soluongsp sản phẩm</h5>
                            </div>
                            <div class="card-body">
                                <!-- Single item -->


                                @foreach (var item in Model)
                                {
                    <div class="row">

                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                <img src="@Url.Content(item.LinkImage)"
                                     class="w-100" alt="ảnh sản phẩm" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                </a>
                            </div>

                        </div>

                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">

                            <p><strong>@item.ProductName</strong></p>
                            <p>Màu:...loading</p>
                            <p>Kích thước:...loading</p>
                            <p>Số lượng: @item.Quatity</p>
                            <p>Đơn giá:@item.Price</p>
                            <p>
                                Thành tiền: @String.Format("{0:0,0}", item.ThanhTien) VNĐ
                            <p>

                                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                        title="xóa sản phẩm này" onclick="location.href = '@Url.Action("XoaGioHang","Cart",new { iMaSP = item.ProductID})'">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>

                        </div>
                    </div>}





                                <hr class="my-2 custom-hr" />
                            </div>
                            <hr class="my-4 custom-hr" />
                            <div class="card-header py-3">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush" style="margin-bottom: 0px">
                                        <li class="list-group-item d-flex justify-content-end align-items-center border-0 px-0 mb-3">
                                            <div>
                                                <strong>Tổng tiền:&nbsp;&nbsp;</strong>
                                            </div>
                                            <span>@ViewBag.tongtien</span>
                                        </li>
                                    </ul>

                                    <div class="align-center">
                                        <a href="/home/index">
                                            <button type="button" class="btn color-main progress-return" style="border: none">
                                                Tiếp tục mua hàng
                                            </button>
                                        </a>
                                        <a href="/cart/checkout">
                                            <button type="button" class="btn bg-primary progress-checkout" style="border: none">
                                                Tiến hành thanh toán
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
